body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

/* ========== NAVBAR SECTION =========== */

.navbar-collapse {
  transition: all 0.3s ease;
}

.custom-btn {
  background-color: #162266;
  color: white;
  border: 2px solid #162266;
  border-radius: 8px;
}

.custom-btn:hover {
  border: 2px solid #162266;
  background-color: transparent;
  color: #162266;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 20%;
  bottom: 0;
  background-color: #162266;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 60%;
}

/* ======== HERO SECTION ==========*/


.hero-div {
  line-height: 2;
  border: none;
  box-shadow: 0 4px 8px 0 #d0e6fd90, 0 6px 20px 0 #d0e6fd80;
} 

.typewriter-text {
  min-height: 3.5rem;
  min-width: 22ch;
  display: inline-block;
}

.hero-section {
  background-color: #d0e6fd;
}

/* Title */
.hero-title {
  font-size: clamp(2rem, 4vw, 3.2rem);
  line-height: 1.2;
}

/* Paragraph */
.hero-desc {
  font-size: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .hero-desc {
    margin: 0;
  }
}

/* Social icons */
.social-links a {
  text-decoration: none;
  color: rgb(93, 88, 88);
  font-size: 1.6rem;
  margin-left: 16px;
  transition: all 0.2s ease;
}

.social-links a:hover {
  color: #162266;
  transform: translateY(-6px);
}

/* Hero Image */
.hero-img {
 margin-top: -30px;
  max-width: 420px;
  width: 100%;
  animation: float 4s ease-in-out infinite;
}

/* Float animation */
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

/* Typewriter space fix */
.typewriter-text {
  min-height: 3rem;
  display: inline-block;
}

/* ========= ABOUT SECTION ==========*/

.about-div {
  width: auto;
  padding: 40px;
}

.about-section {
  padding: 80px 0;
}

.about-title {
  font-size: 2.5rem;
  color: #162266;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-img {
  background-image: url(./assets/services/aboutimg1.jpg);
  background-size: cover;
  background-position: center;
  height: 390px;
  border-radius: 15px;
  transition: transform 0.5s;
}

.about-img:hover {
  transform: scale(1.05);
}

.about-content {
  background-color: #f1e4d1;
  padding: 50px 40px;
  border-radius: 15px;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 20px;
}

.btn-contact {
  background-color: #162266;
  color: white;
  border: 1px solid #162266;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.btn-contact:hover {
  background-color: white;
  color: #162266;
}

/* ========== sKILLS SECTION ==========*/

.card-img-top {

  object-fit: contain;
  padding: 10px;
}

.skills-container {
padding: 1rem 2rem;
width: 90%;
height: auto;
}

.skill-card {
  width: 100%;
  background: #d0e6fd;
  border-radius: 10px;
  padding: 40px 0;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-card-image img {
  width: 100%; /* full container width */
  height: 150px; /* fix height rakh sakte hain */
  object-fit: cover; /* image ko **crop + fill** effect deta hai */
  border-radius: 8px;
}

.card-img-top {
  height: 130px;
  object-fit: contain;
}

.skill {
  padding: 10px;
}

.skill-progress {
  width: 80%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 10px auto 0;
  overflow: hidden;
}

.skill-progress-fill {
  height: 100%;
  background-color: #162266;
  border-radius: 10px;
  transition: width 1.5s ease-in-out;
}

/* ========== SERVICES SECTION ========*/

.services-section {
  padding: 80px 0;
  background-color: #f8f9fa;
}

.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-top: 60px;
  color: #162266;
}

.service-card {
  text-align: center;
  padding: 30px 20px;
  height: 100%;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.service-card:hover img {
  transform: rotate(8deg) scale(1.1);
}

.service-icon {
  width: 65px;
  margin-bottom: 20px;
}

.service-card h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* ========= Projects Section =========*/

.projects-section {
  margin-top: 80px;
  background-color: #162266;
  padding: 80px 0;
  color: white;
}

.projects-section .project-title {
  color: white;
}

.projects-description {
  max-width: 800px;
  color: white;
  font-size: 1.1rem;
  margin-top: 20px;
}

.project-box {
  background-image: url(./assets/projects/project-img1.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.project-box:hover {
  transform: scale(1.05) rotate(1deg);
}

.project-box-2 {
  background-image: url(./assets/projects/project-img2.jpg);
}

.project-box-3 {
  background-image: url(./assets/projects/project-img3.jpg);
}

.project-box-4 {
  background-image: url(./assets/projects/project-img4.jpg);
}

.project-box:hover {
  transform: scale(1.05);
}

.project-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(240, 255, 255, 0.9);
  color: #162266;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  transition: transform 0.3s;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 1.5rem;
  color: white;
}

.project-box:hover .project-name {
  transform: translateY(100%);
}

.project-box:hover .project-overlay {
  opacity: 1;
}

.project-title {
  margin-top: 30px;
}

.contact-section {
  background-color: #f8f9fa;
  padding: 80px 0;
}

.contact-card {
  background-color: #d0e6fd;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.contact-title {
  font-size: 2.5rem;
  color: #162266;
  margin-bottom: 20px;
}

.contact-subtitle {
  font-size: 1.5rem;
  color: #162266;
  margin-bottom: 15px;
}

.contact-description {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.form-control,
.form-control:focus {
  border: none;
  border-bottom: 1px solid #162266;
  border-radius: 0;
  background: transparent;
  padding: 12px 0;
}

.form-control:focus {
  border-bottom: 2px solid #162266;
  box-shadow: none;
}

.btn-send {
  background-color: #162266;
  color: white;
  padding: 12px 50px;
  border-radius: 5px;
  border: 2px solid #162266;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.btn-send:hover {
  background-color: white;
  color: #162266;
  border: 2px solid #162266;
}

.btn-send:active {
  transform: scale(0.96);
}

.contact-img {
  background-image: url("./assets/services/contact-img.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  margin-top: 30px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.contact-info-box {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* flex-shrink: 0; */
}

.contact-label {
  font-size: 0.9rem;
  opacity: 0.8;
}

.contact-value {
  font-size: 1.1rem;
}

.footer-section {
  background-color: #162266;
  height: 40vh;
}

.footer-copyright {
  color: white;
  padding-top: 60px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
  margin-top: 36px;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.footer-links a:hover {
  color: grey;
  opacity: 0.9;
}

.footer-socials {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  gap: 23px;
}

.footer-socials a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}

.footer-socials a:hover {
  color: grey;
  opacity: 0.9;
  transform: translateY(-1px);
}

@media (min-width: 320px) and (max-width: 500px) {
  .footer-section {
    height: 65vh;
  }
  .footer-links {
    display: block;
    text-align: center;
    line-height: 2;
    font-size: 21px;
  }
}
